@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scrollbar-width: thin;
    scrollbar-color: #ff7518 #f1f1f1;
    user-select: none !important;
}


@layer utilities {
    .category-list {
        list-style: none;
        padding: 0;
    } 
    
    .category-list li {
        position: relative;
        padding-left: 1.5em; 
        margin-bottom: 0.5em;
    }
    
    .category-list li::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0.4em;
        width: 0.5em;
        height: 0.5em;
        background-color: #ff7518;
        border-radius: 50%;
    }
}

@keyframes vibrate {
	0% {
		transform: translateX(0);
	}
	20% {
		transform: translateX(-2px);
	}
	40% {
		transform: translateX(2px);
	}
	60% {
		transform: translateX(-2px);
	}
	80% {
		transform: translateX(2px);
	}
	100% {
		transform: translateX(0);
	}
}

.phone-icon:hover{
	animation: vibrate 0.3s linear infinite;
}
