@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #ff7518 #f1f1f1;
}